.popUpContainer {
  position: fixed;
  background: rgba(0, 0, 0, 0.563);
  width: 100vw;
  min-height: 100%;
  top: 0;
  z-index: 999999;
}

.header__styles {
  color: #4b64e8;
  font-size: 13px;
}

.mainContainer {
  background: #fff;
  position: absolute;
  z-index: 99999999;
  left: calc(50% - 230px);
  top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-radius: 5px;
  padding: 20px;
  width: 430px;
}

.closePopup {
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  margin: 10px;
}
.closePopup > div {
  width: 15px;
  height: 1px;
  background: #333;
  transform: rotate(45deg);
  position: absolute;
  top: 9px;
  border-radius: 10px;
}
.closePopup > div::after {
  content: "";
  width: 15px;
  height: 1px;
  background: #333;
  transform: rotate(90deg);
  position: absolute;
  border-radius: 10px;
}

.closePopup:hover {
  opacity: 1;
}

.circleCarts__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.circleCarts__container span {
  width: 7px;
  height: 7px;
  border: 1px solid #4b64e8;
  border-radius: 50%;
  margin: 13px 5px 5px 5px;
}

.currentCircle {
  background: #4b64e8;
}

@media (max-width: 415px) {
  .mainContainer {
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
  }
}
